.btn-primary {
    color: white;
    height: 55px;
    width: 300px;
    border-radius: 0;
    margin: auto;
    position: relative;
    font-size: 18px;
}

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 10px 10px 10px;
  cursor: move;
  opacity: 0.75;
  zoom: 0.9;
}

#menu_action{background-color:orange}